$primary-color: black;
$secondary-color: white;

body {
  background: $primary-color;
  font-family: 'Press Start 2P', Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}
